:root{
    --foreground: #161616;
    --background: #ffffff;
    --accentf: #a5978aff;
    --accent9: #a5978a99;
    --accent6: #a5978a66;
    --accent3: #a5978a33;
}

html{
    margin: none;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    height: 100%;
    color: var(foreground);
    font-family: 'Handlee', cursive;
}

nav{
    width: 100%;
    height: 30px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    display: grid;
    background-color: var(--background);
    grid-template-columns: auto auto;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
}
h2{
    text-align: center;
}
a{
    color: var(--foreground);
    
}
img{
	max-width: 100%;
	max-height: 100%;
}
a:link{
    text-decoration: none;
    color: var(--foreground);
}
nav a{
    display: inline-block;
    height: 30px;
    padding: 0 10px;
}
nav .nav-right a:hover{
    color: var(--accentf);
    height: 28px;
    border-bottom: var(--accent9) 2px solid;
}
nav a h3{
    margin: 0;
}
.nav-right{
    text-align: right;
}
nav a > i{
    visibility: collapse;
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/*
Contenue
*/

main{

}

div.container{
    width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    height: 100px;
}

.container-item{
    padding: 5px;
    width: calc(49% - 10px);
    display: inline-block;
    margin-bottom: 10px;
}
form{
    display: flex;
    align-items: flex-start;
}
form.fill-form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(auto);
}

form input{
    border: 0;
}
form .txtinput{
    height: 22px;
    padding: 1px 7px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 10px -5px var(--foreground);
    -moz-box-shadow: 0px 0px 10px -5px var(--foreground);
    box-shadow: 0px 0px 10px -5px var(--foreground);
}
form.fill-form .txtinput{
    width: calc(100% - 40px);
    margin-left: 10px;
}
form .txtinput label{
    width: auto;
}
form .txtinput input:focus{
    outline: none;
}
form .txtinput input{
    font-family: 'Handlee', cursive;
    
}
form .txtinput select{
    font-family: 'Handlee', cursive;
    border: none;    
}
form .cbxinput{
    height: 22px;
    padding: 1px 7px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
}
form .rdoinput{
    height: 22px;
    padding: 1px 7px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button{
    font-family: 'Handlee', cursive;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    height: 24px;
    display: inline-block;
    margin: 15px 5px 5px;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 0px 10px -5px var(--foreground);
    -moz-box-shadow: 0px 0px 10px -5px var(--foreground);
    box-shadow: 0px 0px 10px -5px var(--foreground);
}
.button:hover{
    transition: .1s;
    -webkit-box-shadow: 0px 0px 6px -1px var(--foreground);
    -moz-box-shadow: 0px 0px 6px -1px var(--foreground);
    box-shadow: 0px 0px 6px -1px var(--foreground);
}
input.button{
    height: 46px;
}
form .form-detail{
    display: grid;
    grid-template-columns: 36% 64%;
}
.rdo-cbx > *:nth-child(n+2){
    margin-left: 20px;
}
/*
\ Form
/ Page
*/
.spacer{
    width: 100%;
    height: 50px;
}
.article-list-item{
    display: grid;
    grid-template-columns: 110px 1fr;
    height: 110px;
    -webkit-box-shadow: 0px 0px 0px .5px var(--accent3);
    -moz-box-shadow: 0px 0px 0px .5px var(--accent3);
    box-shadow: 0px 0px 0px .5px var(--accent3);
    cursor: pointer;
}
.article-list-item:hover{
    -webkit-box-shadow: 0px 0px 5px 0px var(--accent6);
    -moz-box-shadow: 0px 0px 5px 0px var(--accent6);
    box-shadow: 0px 0px 5px 0px var(--accent6);
    transition: .1s;
}
.article-list-item > .img{
    grid-column: 1;
    max-height: 100%;
    max-width: 100%;
}
.article-list-item .img > *{
    display: block;
    max-height: 110px;
    max-width: 100%;
}
.article-list-item > .info{
    grid-column: 2;
    width: calc(100% - 10px);
    height: calc(100% - 2px);
    padding: 1px 5px;
    display: grid;
    grid-template-rows: 3fr 2fr 2fr 2fr;
}
.article-list-item > .info > span{
    
}

.grid-col-span-2{
    grid-column: span 2;
}
.center-items{
    align-items: center;
    text-align: center;
}

.containerConnexion
{
    width: 800px;
	height:500 px;
    margin: 0 auto;
    margin-top: 50px;
    height: 100px;	
	display : grid;

	
}

.Identifiant
{
	grid-row:2;
	grid-column : 1 / span 2;
	
}
.password
{
	grid-row:3;
	grid-column:1 / span 2;
	
}

.container-connexion{
    padding: 5px;
    margin-bottom: 10px;
	
}

.btconnexion
{
	padding: 5px;
    margin-bottom: 10px;
	grid-column:1;
	grid-row:4;
	display : inline;
}

.container-connexionPwd
{
	padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
	grid-column:2;
	grid-row:4;
	
}

.creation-compte
{
	grid-row:5;
	grid-column: 1 / sapn 2;
}

.block
{
	display: block;
}

.optionConnexion
{
	grid-row : 4;
	grid-column : 1 /span 2;
	
	grid-template-columns: 20% auto;
	grid-template-rows : subgrid;
	
	display: grid;
}
.erreurConnexion
{
	grid-row:1 ;
	grid-column: 1 / sapn 2;
	display: block;
}


.labelIdentification{
	display : inline-block;
width:25%;
}

.grouping{
    border: var(--accent6) 1px solid;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}
div.article-description{
    height: 100px;
}
div.article-description > textarea{
    height: 90px;
    resize: none;
    font-family: 'Handlee', cursive;
    outline: none;
    border-radius: 15px;
}
form input[type="file"] {
    width: 98%;
}

.no-show{
    z-index: 0;
    display: block;
    position: unset;
    width: 0;
    height: 0;
    opacity: 0;
}
.col-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 800px) {

    div.container{
        width: 800px;
    }
    form.fill-form.fill-form-1-2{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(auto);
    }
}

@media only screen and (max-width: 800px) {
    div.container{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    div.container{
        
    }
    form{
        display: block;
    }
    .container-item{
        width: calc(100% - 10px);
        display: inline-block;
        margin-bottom: 10px;
    }
    form.fill-form{
        display: grid;
        grid-template-columns: 100%;
    }
    form.fill-form .grid-col-span-2{
        grid-column: span 1;
    }
    nav a > span{
        visibility: collapse;
        display: inline-block;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    nav a > i{
        visibility: visible;
        display: inline-block;
        width: auto;
        height: auto;
    }
    .col-1-1{
        grid-template-columns: 1fr;
    }
}


